body {
  margin: 0;
  background-color: cornflowerblue;
}

.wrapper {
  height: 60vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  display: inline-block;
  vertical-align: 30px;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.para {
  padding: 40px;
  color: coral;
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10%;
  margin: 10px;
  outline: none;
  font-size: 3rem;
}

.para {
  padding: 50px;
  background-color: white;
  font-size: 4rem;
  color: black;
  text-align: center;
}
