.cover-section {
  position: relative;
  .carousel-inner {
    img {
      object-fit: cover;
      height: 750px;
      filter: brightness(80%);
    }
    .carousel-item {
      position: relative;
      .carousel-caption {
        position: absolute;
        bottom: 50%;
        transform: translate(0, 50%);
        text-align: left;
        h1 {
          font-size: 3rem;
        }
        .btn-cover {
          background-color: white;
          color: black;
          font-size: $btn-font-size;
          padding: 12px;
          border: none;
        }
        .btn-cover:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }
}

.cover-section {
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    height: 50px;
    top: 50%;
    opacity: 1;
    background-color: rgb(159, 160, 162);
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 10px;
      width: 10px;
      color: white;
    }
  }
  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    background-color: $primary-color;
  }
}

.navbar-container-fluid {
  position: absolute;

  top: 0;

  background-color: transparent;
  .navbar-container {
    .navbar-1 {
      background-color: transparent !important;
      border: none;
      padding: 0px;
    }
    .navbar-brand {
      font-size: 0.7rem;
      color: white;
      margin-right: 40px;
    }
    .nav-item {
      i {
        font-size: 0.7rem;
        color: white;
      }
    }
  }
}

.navbar-1-row {
  border-bottom: 1px solid white;
}

.navbar-2-container {
  .navbar-2 {
    background-color: transparent !important;
    padding: 0;
    align-items: center;
    .logo-icon {
      color: $primary-color;
      font-size: 1.4rem;
    }
    .navbar-brand {
      color: white;
      padding-bottom: 10px;
    }
    .nav-link {
      color: white;
      font-size: 0.8rem;
      margin-left: 40px;
      padding-top: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid transparent;
      i {
        font-size: 0.7rem;
      }
    }
  }
}

.navbar-2 {
  .nav-link:hover {
    border-bottom: 1px solid white;
    color: white !important;
  }
}

.navbar-2 {
  .navbar-toggler {
    .show {
      .carousel-caption {
        transform: scale(1.8) !important;
      }
    }
  }
}

.cover-fluid {
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  .cover-attr {
    color: white;
    padding: 30px;
    background-color: skyblue;
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
    h4 {
      font-weight: 300;
    }
    .btn-cover-2 {
      font-size: $btn-font-size;
      border: 1px solid white;
      background-color: transparent;
    }
    .timetable {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding: 15px 0 15px 0;
      span {
        font-size: 0.8rem;
      }
    }
  }
}

.cover-attr:nth-child(1) {
  background-color: rgb(128, 169, 248);
}

.cover-attr:nth-child(2) {
  background-color: rgb(81, 138, 246);
}

.cover-attr:nth-child(3) {
  background-color: rgb(67, 114, 204);
}

@media only screen and (max-width: 768px) {
  .cover-section {
    .carousel-inner {
      img {
        height: 1350px !important;
        filter: brightness(90%);
        object-position: 65%;
      }
    }
  }
}

.medical-section {
  margin-top: 200px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .medical-section {
    margin-top: 450px;
  }
}

.medical-quality-container {
  .welcome-container {
    margin-top: 30px;
    p {
      color: rgb(180, 184, 193);
      font: 0.9rem;
    }
  }
}

.medical-quality-row {
  margin-top: 50px;

  .medical-quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    img {
      border: 1px solid grey;
      border-radius: 50%;
      padding: 10px;
      border-color: rgb(247, 247, 247);
      margin-bottom: 20px;
    }
    p {
      font-size: 0.8rem;
      color: grey;
    }
  }
}

.medical-quality-row {
  .col-12 {
    padding: 30px;
  }
}

.navbar-toggler:focus {
  background-color: red($color: #000000);
}
