.news-section {
  padding-top: 70px;
  padding-bottom: 100px;
  .card {
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.1);
    border: none;
    margin: auto;
    margin-bottom: 20px;
    width: auto !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-text {
      border-bottom: 1px solid rgb(247, 247, 247);
      padding-bottom: 20px;
    }

    img {
      height: 200px;
      object-fit: cover;
    }
    p {
      font-size: 0.8rem;
      color: $muted-text;
    }
    .author {
      a {
        font-size: 0.8rem;
      }
      img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .carousel-indicators {
    bottom: -50px;
    .active {
      background-color: $primary-color !important;
    }
    .indicators {
      height: 7px !important;
      width: 7px !important;
      border: 2px solid $primary-color !important;
      border-radius: 50%;
      margin-top: 100px;
      margin-right: 10px !important;
      opacity: 1 !important;
    }
  }
}

.news-section {
  .card-title::before {
    display: none;
  }
}

.card-col {
  padding-bottom: 20px;
}
