@import "settings";
@import "cover";
@import "doctors";
@import "services";
@import "customer";
@import "news";
@import "appointment";
@import "references";

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  user-select: none;
}
