.achievements-section {
  height: 200px;
  background-image: url(/assignment6/assets/img/photography-of-book-page-1029141.jpg);
  object-fit: cover;

  .achievement {
    margin-top: 50px;

    color: white;
    text-align: center;
    i,
    h2 {
      font-size: 2.5rem;
      margin-bottom: 5px;
    }
    p {
    }
  }
}

@media only screen and (max-width: 768px) {
  .achievement {
    i,
    h2 {
      font-size: 1.5rem !important;
    }
    p {
      font-size: 0.8rem !important;
    }
  }
}
