.choose-us-section {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}

.choose-us-col {
  margin-top: 100px;
}
.choose-us-qualities {
  margin-top: 30px;
  i {
    font-size: 1rem;
    background-color: $primary-color;
    width: 30px;
    height: 30px;
    padding: 7px 0 0 7px;
    color: white;
  }
  h6 {
    font-weight: 600;
  }
}

.choose-us-carousel {
  margin-top: 160px;
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    margin-right: 10px;
    background-color: $primary-color;
    opacity: 1;
    border-radius: 50%;
  }
  .carousel-control-prev {
    margin-left: 30px;
  }
  .carousel-control-next {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .choose-us-carousel {
    margin-top: 30px;
  }
}

.presentation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .presentation-image {
    object-fit: cover !important;
    height: 500px !important;
  }
}
