.opening-section {
  .carousel-inner {
    img {
      filter: brightness(40%) !important;
      object-fit: cover;
    }
  }
}

.carousel-caption {
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-caption {
  h5 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    line-height: 0.9;
  }

  p {
    line-height: 3;
  }
  li {
  }
}

@media only screen and (max-width: 768px) {
  .carousel-caption {
    h5 {
      font-size: 2rem;

      line-height: 0.9;
    }

    p {
      line-height: 3;
    }
    li {
      font-size: 2.5vw;
    }
  }
}

.opening-section {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }
}

.opening-section {
  .carousel-control-prev,
  .carousel-control-next {
    border: 1px solid white;
    border-color: white;
    width: 60px;
    height: 40px;
    top: 50%;
    margin-right: 10px;
    opacity: 1;
  }
}

.carousel-control-prev {
  margin-left: 10px;
}

.opening-section {
  .carousel-control-prev::after {
    content: "PRE";
    color: white;
    font-size: $icon-size;
    margin-left: -20px;
  }
  .carousel-control-prev::before {
    content: "<";
    color: white;
    font-size: small;
    margin-bottom: 4px;
  }

  .carousel-control-next::after {
    content: ">";
    color: white;
    font-size: small;
    vertical-align: bottom;
  }

  .carousel-control-next::before {
    content: "Next";
    color: white;
    font-size: $icon-size;
    margin-right: -20px;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: $primary-color;
  }
}

.title-area {
  ul {
    list-style: none;
  }
  li {
    display: inline;
    padding: 20px;
  }
}

.title-area {
  li:nth-child(1) {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .title-area {
    ul {
      list-style: none;
    }
    li {
      display: inline;
      padding: 10px;
    }
  }
  .title-area {
    li:nth-child(1) {
      margin-left: -40px;
    }
  }
}

.selector {
  position: relative;
}

.selector::after {
  content: "|";
  position: absolute;
  right: -4px;
  font-size: $icon-size;
  bottom: 50%;
  transform: translate(0, 50%);
  color: $primary-color;
}

.red-btn {
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  padding: 0;
  font-size: small;
  font-weight: 400;
}

.red-btn:hover {
  background-color: $primary-color;
  color: white;
}
// .title-area {
//   @include list-style;
// }

.opening-container {
  position: relative;
}

.qualities-fluid {
  position: absolute;
  bottom: 0;

  transform: translate(0, 50%);
}

.qualities {
  background-color: white;
  box-shadow: 0 0 5px grey;
}

.quality-attr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px 20px 40px 20px;
  background-color: white;
}

.quality {
  position: relative;
}

.quality::after {
  content: " ";
  height: 80%;
  width: 80%;
  border-right: 1px solid lightgrey;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
}

@media only screen and (max-width: 768px) {
  .quality::after {
    height: 80%;
    width: 80%;
    bottom: 0;
    border: none;
    border-bottom: 1px solid lightgray;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 768px) {
  .carousel-inner {
    img {
      object-fit: cover;
      height: 1000px;
    }
  }
}

.quality-3::after {
  display: none;
}

.quality-icons {
  font-size: 2rem;
  color: $primary-color;
  border: 1px solid $primary-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 7px;
}

.quality-attr {
  h6 {
    font-weight: 600;
  }
}

.about-para {
  margin-top: 400px;
  text-align: center;
  font-size: x-large;
}

.header-para {
  font-size: $para-size;
}

.context-underline {
  position: relative;
}

.left-line,
.right-line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid $primary-color;
  position: absolute;
}

.left-line {
  left: 50%;
  margin-left: 10px;
}

.right-line {
  right: 50%;
}

.left-line::before {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: $primary-color;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%) rotate(45deg);
}

.right-line::after {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: $primary-color;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 50%) rotate(45deg);
}
