.project-container {
  margin-top: 150px;
}

.project-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 700;
  border-radius: 0;
  font-size: $icon-size;
  margin-right: 10px;
}

.project-button:hover {
  background-color: $primary-color;
  color: white;
  border: none;
}

.button-div {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .button-div {
    display: block;
    margin-bottom: 30px;
  }
}

.gallery-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .sm-lg-container {
    .odd {
      display: flex;
      flex: 2;
      padding: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
    .even {
      display: flex;
      flex: 1;
      padding: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}

.btn-border {
  border: 1px solid black;
}

.btn-border:hover {
  border: none;
}

@keyframes project-animation {
  from {
    opacity: 0.5;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btn-col {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .gallery-div {
    flex-direction: column;
    height: auto;
  }
}
