.team-section {
  margin-top: 100px;
}

.carousel-inner {
  img {
    filter: brightness(100%);
  }
}

.carousel-indicators {
  top: 105%;
  li {
    background-color: navy;
    opacity: 1;
    height: 5px;
    width: 20px;
  }
  .active {
    background-color: $primary-color;
  }
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-link {
    color: black !important;
    background-color: white;
    font-size: 0.7rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
  }
}

.image-to-be {
  position: relative;
  height: 350px;
  width: 350px;
  // height: auto;
  // width: 100%;
  object-fit: cover;
}

.image-hover-col {
  .image-hover {
    position: absolute;
    display: none;
    top: 65%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    color: white;
    h6 {
      margin-top: 30px;
      font-weight: 600;
    }
  }
}

.image-hover::before {
  content: " ";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
}

.image-hover-col:hover {
  .image-hover {
    display: block;
    animation: custom 500ms;
  }
}

@media only screen and (max-width: 768px) {
  .team-section {
    .carousel-inner {
      img {
        height: 400px;
      }
      .image-hover-col {
        // margin-bottom: 30px;
      }
    }
  }
}

@keyframes custom {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0%);
  }
}

.client-row {
  margin-top: 150px;
  img {
    height: 80px;
    width: 200px;
    border: 1px solid black;
  }
}

.client-image-container {
  display: inline-block;
}
