.team-section {
  margin-top: 100px;
}

.carousel-inner {
  img {
    filter: brightness(100%);
  }
}

.carousel-indicators {
  top: 100%;
  li {
    background-color: navy;
    opacity: 1;
    height: 5px;
    width: 20px;
  }
  .active {
    background-color: $primary-color;
  }
}

.image-hover {
  a {
    display: inline;
    margin-right: -20px;
  }
}

.image-hover-col {
  position: relative;
}

.image-hover-col::before {
  content: " ";
  display: none;
  position: absolute;
  top: 65%;
  bottom: 0;
  right: 15px;
  left: 15px;
  background-color: black;
  z-index: 1;
  opacity: 0.8;
}

.image-hover {
  display: none;
  position: absolute;
  top: 65%;
  bottom: 0;
  right: 15px;
  left: 15px;
  color: white;
  font-size: small;
  padding-top: 20px;
  h6 {
    font-weight: 700;
  }
  i {
    background-color: white;
    color: black;
  }
  z-index: 2;
}

.image-hover-col:hover {
  .image-hover,
  .image-hover-col::before {
    display: block;
  }
}
