.team-section {
  margin-top: 100px;
}

.carousel-inner {
  img {
    filter: brightness(100%);
  }
}

.carousel-indicators {
  top: 105%;
  li {
    background-color: navy;
    opacity: 1;
    height: 5px;
    width: 20px;
  }
  .active {
    background-color: $primary-color;
  }
}

.icons-container {
  a {
    display: inline;

    margin-left: 10px;
    padding: 0;
  }
  i {
    background-color: white;
    color: black;
  }
}

.image-to-be {
  position: relative;
  height: 450px;
  width: 350px;
  object-fit: cover;
}

.image-hover-col {
  .image-hover {
    position: absolute;
    display: none;
    top: 65%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    color: white;
    h6 {
      margin-top: 30px;
      font-weight: 600;
    }
  }
}

.image-hover::before {
  content: " ";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
}

.image-hover-col:hover {
  .image-hover {
    display: block;
    animation: custom 1s;
  }
}

@keyframes custom {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0%);
  }
}

.client-row {
  margin-top: 150px;
  img {
    height: 80px;
    width: 200px;
    border: 1px solid black;
  }
}

.client-image-container {
  display: inline-block;
}
