@import "settings";
@import "mixins";
@import "navbar";
@import "main-carousel";
@import "about-us";
@import "service";
@import "choose-us";
@import "newsletter";
@import "project";

.container-fluid {
  padding: 0;
}

p {
  font-size: small;
}

body {
  overflow-x: hidden;
}
