@import "settings";
@import "mixins";
@import "navbar";
@import "main-carousel";
@import "about-us";
@import "service";
@import "choose-us";
@import "newsletter";
@import "project";
@import "blogs";
@import "achievement";
@import "team";
@import "references";

.container-fluid {
  padding: 0;
}

p {
  font-size: small;
}

body {
  overflow-x: hidden;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  background-color: rgb(51, 49, 50);
  color: white;
  font-size: 0.7rem;

  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}
