.newsletter-section {
  background-color: $primary-color;
  height: 300px;
}

.subscribe-div {
  position: relative;
}
.subscribe-div {
  input {
    position: absolute;
    width: 350px;

    border-radius: 10cm 0cm 0cm 10cm;
    left: 55%;
    transform: translate(-100%, 0);
    padding: 15px;
    background-color: #393435;
    font-size: small;
    padding-left: 30px;
    color: white;
    border: none;
    outline: none;
  }
  .subscribe-button {
    position: absolute;
    width: 200px;
    text-align: left;
    border-radius: 0cm 10cm 10cm 0cm;
    right: 45%;
    transform: translate(100%, 0);
    border: 1px solid black;
    padding: 15px;
    background-color: #393435;
    font-size: small;
    border: none;
    border-left: 5px solid #312c2d;
    color: #474546;
    outline: 0 !important;
    box-shadow: none;
  }
  input::placeholder {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .subscribe-div {
    input {
      width: 200px;
      height: 40px;
    }
    button {
      width: 100px;
      height: 40px;
    }
  }
}

.newsletter-div {
  padding-top: 100px;
  h2,
  p {
    color: white;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
