.navbar-red,
.navbar-container {
  background-color: #f55650;
}

header .nav-icon-links {
  color: white !important;
  background-color: #f55650;
  font-size: 0.7rem;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5px;
}
header .nav-drop {
  margin-left: 10px;
}

.nav-drop a {
  font-size: 0.7rem;
  color: white !important;
  background-color: #f55650;
}
.nav-drop div {
  background-color: #f55650;
  padding: 0;
}

.nav-drop:hover a {
  color: black !important;
}

.nav-btn {
  font-size: 0.7rem;
  background-color: #f55650;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 0;
}

.nav-btn:hover {
  background-color: white;
  color: black;
  border: none;
  font-weight: 700;
}

.email-phone-container {
  font-size: 0.7rem;
  color: whitesmoke;
}

.navbar-2 .nav-item {
  font-size: 0.9rem;
}

.navbar-2-fluid {
  position: absolute;
  top: 0;
}

.navbar-2 .nav-link,
.navbar-2 button {
  color: white !important;
}

.navbar-2 .nav-link:hover,
.navbar-2 button:hover {
  color: #f55650 !important;
  border-bottom: 1px solid #f55650;
}
.navbar-2 button:hover {
  border-bottom: none;
}

.navbar-2 .selector::after {
  color: white;
}

.navbar-2 li {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar-2 .selector::after {
    display: none;
  }
  .navbar-2 .nav-item {
    padding: 0;
  }
}
.opening-section .carousel-inner img {
  filter: brightness(40%) !important;
  object-fit: cover;
}

.carousel-caption {
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-caption h5 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  line-height: 0.9;
}
.carousel-caption p {
  line-height: 3;
}
@media only screen and (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 2rem;
    line-height: 0.9;
  }
  .carousel-caption p {
    line-height: 3;
  }
  .carousel-caption li {
    font-size: 2.5vw;
  }
}
.opening-section .carousel-control-prev-icon,
.opening-section .carousel-control-next-icon {
  background-image: none;
}

.opening-section .carousel-control-prev,
.opening-section .carousel-control-next {
  border: 1px solid white;
  border-color: white;
  width: 60px;
  height: 40px;
  top: 50%;
  margin-right: 10px;
  opacity: 1;
}

.carousel-control-prev {
  margin-left: 10px;
}

.opening-section .carousel-control-prev::after {
  content: "PRE";
  color: white;
  font-size: 0.7rem;
  margin-left: -20px;
}
.opening-section .carousel-control-prev::before {
  content: "<";
  color: white;
  font-size: small;
  margin-bottom: 4px;
}
.opening-section .carousel-control-next::after {
  content: ">";
  color: white;
  font-size: small;
  vertical-align: bottom;
}
.opening-section .carousel-control-next::before {
  content: "Next";
  color: white;
  font-size: 0.7rem;
  margin-right: -20px;
}
.opening-section .carousel-control-prev:hover,
.opening-section .carousel-control-next:hover {
  background-color: #f55650;
}

.title-area ul {
  list-style: none;
}
.title-area li {
  display: inline;
  padding: 20px;
}

.title-area li:nth-child(1) {
  margin-left: 0px;
}

@media only screen and (max-width: 576px) {
  .title-area ul {
    list-style: none;
  }
  .title-area li {
    display: inline;
    padding: 10px;
  }

  .title-area li:nth-child(1) {
    margin-left: -40px;
  }
}
.selector {
  position: relative;
}

.selector::after {
  content: "|";
  position: absolute;
  right: -4px;
  font-size: 0.7rem;
  bottom: 50%;
  transform: translate(0, 50%);
  color: #f55650;
}

.red-btn {
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  padding: 0;
  font-size: small;
  font-weight: 400;
}

.red-btn:hover {
  background-color: #f55650;
  color: white;
}

.opening-container {
  position: relative;
}

.qualities-fluid {
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
}

.qualities {
  background-color: white;
  box-shadow: 0 0 5px grey;
}

.quality-attr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px 20px 40px 20px;
  background-color: white;
}

.quality {
  position: relative;
}

.quality::after {
  content: " ";
  height: 80%;
  width: 80%;
  border-right: 1px solid lightgrey;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
}

@media only screen and (max-width: 768px) {
  .quality::after {
    height: 80%;
    width: 80%;
    bottom: 0;
    border: none;
    border-bottom: 1px solid lightgray;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-width: 768px) {
  .carousel-inner img {
    object-fit: cover;
    height: 1000px;
  }
}
.quality-3::after {
  display: none;
}

.quality-icons {
  font-size: 2rem;
  color: #f55650;
  border: 1px solid #f55650;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 7px;
}

.quality-attr h6 {
  font-weight: 600;
}

.about-para {
  margin-top: 400px;
  text-align: center;
  font-size: x-large;
}

.header-para {
  font-size: 1.2rem;
}

.context-underline {
  position: relative;
}

.left-line,
.right-line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #f55650;
  position: absolute;
}

.left-line {
  left: 50%;
  margin-left: 10px;
}

.right-line {
  right: 50%;
}

.left-line::before {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: #f55650;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%) rotate(45deg);
}

.right-line::after {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: #f55650;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 50%) rotate(45deg);
}

.subheading {
  width: 300px;
  margin-top: 20px;
  line-height: 1.3;
}

.about-us-para {
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  background-color: white;
}

.about-us-para::after {
  content: " ";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  right: 15%;
  bottom: 0;
  transform: translate(0, 100%) rotate(180deg);
}

.about-section {
  background-color: #f1f1f1;
  position: relative;
  margin-top: 30px;
  padding-bottom: 50px;
}

.sign-container {
  position: absolute;
  top: 100%;
  right: 10%;
}

.about-section .red-btn {
  margin-top: 75px;
}

.girl-image {
  position: absolute;
  object-fit: cover;
  width: 50%;
  height: 100%;
  right: 50%;
}

@media only screen and (max-width: 768px) {
  .about-section .girl-image {
    position: relative;
    width: 100%;
    right: 0;
  }
}
.service-container {
  margin-top: 150px;
  margin-bottom: 100px;
}

.service-attr {
  height: 300px;
  width: 300px;
  padding: 30px;
  box-shadow: 0 0 5px 0 grey;
  margin-top: 30px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.services i {
  font-size: 2.2rem;
}
.services h5 {
  margin-top: 10px;
}
.services p {
  margin-top: 20px;
}

.underline-container {
  position: relative;
}

.underline-container::after {
  content: " ";
  width: 50px;
  height: 1px;
  border-bottom: 1px solid;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.service-attr:hover {
  background-color: #f55650;
  color: white;
  transition: 0.5s;
  transition-delay: color 1s;
}

.service-img img {
  object-fit: cover;
  object-position: left top;
  width: 120%;
  height: 100%;
}

.choose-us-section {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}

.choose-us-col {
  margin-top: 100px;
}

.choose-us-qualities {
  margin-top: 30px;
}
.choose-us-qualities i {
  font-size: 1rem;
  background-color: #f55650;
  width: 30px;
  height: 30px;
  padding: 7px 0 0 7px;
  color: white;
}
.choose-us-qualities h6 {
  font-weight: 600;
}

.choose-us-carousel {
  margin-top: 160px;
}
.choose-us-carousel .carousel-control-prev,
.choose-us-carousel .carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  margin-right: 10px;
  background-color: #f55650;
  opacity: 1;
  border-radius: 50%;
}
.choose-us-carousel .carousel-control-prev {
  margin-left: 30px;
}
.choose-us-carousel .carousel-control-next {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .choose-us-carousel {
    margin-top: 30px;
  }
}
.presentation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .presentation-image {
    object-fit: cover !important;
    height: 500px !important;
  }
}
.newsletter-section {
  background-color: #f55650;
  height: 300px;
}

.subscribe-div {
  position: relative;
}

.subscribe-div input {
  position: absolute;
  width: 30%;
  border-radius: 10cm 0cm 0cm 10cm;
  left: 55%;
  transform: translate(-100%, 0);
  padding: 15px;
  background-color: #393435;
  font-size: small;
  padding-left: 30px;
  color: white;
  border: none;
  outline: none;
}
.subscribe-div .subscribe-button {
  position: absolute;
  width: 20%;
  text-align: left;
  border-radius: 0cm 10cm 10cm 0cm;
  right: 45%;
  transform: translate(100%, 0);
  border: 1px solid black;
  padding: 15px;
  background-color: #393435;
  font-size: small;
  border: none;
  border-left: 5px solid #312c2d;
  color: #474546;
  outline: 0 !important;
  box-shadow: none;
}
.subscribe-div input::placeholder {
  color: white;
}

@media only screen and (max-width: 768px) {
  .newsletter-section {
    padding-bottom: 40px;
  }
  .newsletter-section .subscribe-div input {
    width: 50%;
    font-size: 0.7rem;
  }
  .newsletter-section .subscribe-div .subscribe-button {
    width: 40%;
    font-size: 0.7rem;
  }
}
.newsletter-div {
  padding-top: 100px;
}
.newsletter-div h2,
.newsletter-div p {
  color: white;
}
.newsletter-div p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.project-container {
  margin-top: 150px;
}

.project-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 700;
  border-radius: 0;
  font-size: 0.7rem;
  margin-right: 10px;
}

.project-button:hover {
  background-color: #f55650;
  color: white;
  border: none;
}

.button-div {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .button-div {
    display: block;
    margin-bottom: 30px;
  }
}
.gallery-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-div .sm-lg-container .odd {
  display: flex;
  flex: 2;
  padding: 10px;
}
.gallery-div .sm-lg-container .odd img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.gallery-div .sm-lg-container .even {
  display: flex;
  flex: 1;
  padding: 10px;
}
.gallery-div .sm-lg-container .even img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.btn-border {
  border: 1px solid black;
}

.btn-border:hover {
  border: none;
}

@keyframes project-animation {
  from {
    opacity: 0.5;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn-col {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .gallery-div {
    flex-direction: column;
    height: auto;
  }
}
.blog-section {
  background-color: #f1f1f1;
  margin-top: 100px;
}

.blog-container {
  padding-top: 100px;
}

.red-btn-card {
  color: #f55650;
  height: auto;
  width: auto;
  text-align: left;
  margin-top: 5px;
}

.red-btn-card:hover {
  background-color: white;
  color: #f55650;
}

.card-title {
  font-size: 0.9rem;
}

.card-icons {
  font-size: 0.7rem;
  color: #847d7d;
}

.card-body {
  padding-bottom: 5px;
  position: relative;
  box-shadow: 0 0 10px lightgrey;
}

.card-body::after {
  content: " ";
  width: 200px;
  height: 1px;
  border-bottom: 1px solid #c1b6b6;
  position: absolute;
  top: 67%;
}

.card {
  margin-right: -30px;
  position: relative;
  border-radius: 0;
  user-select: none;
}

.card-img-top {
  border-radius: 0;
}

.card::before {
  content: "7th March ";
  position: absolute;
  width: 60px;
  height: 40px;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 1;
  background-color: #f55650;
  top: 10px;
  left: -10px;
  z-index: 1;
}

.card::after {
  content: " ";
  position: absolute;
  left: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f55650;
  border-left: 10px solid transparent;
}

.hoverable-icons {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}
.hoverable-icons i {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.card:hover .hoverable-icons {
  display: block;
  animation: card-animation 1s;
}
.card:hover img {
  filter: brightness(40%);
  animation: card-animation 2s;
}

@keyframes card-animation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.achievements-section {
  height: 200px;
  background-image: url(/assignment6/assets/img/photography-of-book-page-1029141.jpg);
  object-fit: cover;
}
.achievements-section .achievement {
  margin-top: 50px;
  color: white;
  text-align: center;
}
.achievements-section .achievement i,
.achievements-section .achievement h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .achievement i,
.achievement h2 {
    font-size: 1.5rem !important;
  }
  .achievement p {
    font-size: 0.8rem !important;
  }
}
.team-section {
  margin-top: 100px;
}

.carousel-inner img {
  filter: brightness(100%);
}

.carousel-indicators {
  top: 105%;
}
.carousel-indicators li {
  background-color: navy;
  opacity: 1;
  height: 5px;
  width: 20px;
}
.carousel-indicators .active {
  background-color: #f55650;
}

.icons-container a {
  display: inline;
  margin-left: 10px;
  padding: 0;
}
.icons-container i {
  background-color: white;
  color: black;
}

.image-to-be {
  position: relative;
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.image-hover-col .image-hover {
  position: absolute;
  display: none;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  color: white;
}
.image-hover-col .image-hover h6 {
  margin-top: 30px;
  font-weight: 600;
}

.image-hover::before {
  content: " ";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
}

.image-hover-col:hover .image-hover {
  display: block;
  animation: custom 1s;
}

@media only screen and (max-width: 768px) {
  .team-section .carousel-inner img {
    height: 400px;
  }
}
@keyframes custom {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0%);
  }
}
.client-row {
  margin-top: 150px;
}
.client-row img {
  height: 80px;
  width: 200px;
  border: 1px solid black;
}

.client-image-container {
  display: inline-block;
}

.references {
  background-color: black;
  margin-top: 100px;
}
.references .row {
  padding-top: 50px;
}

.contact-us p {
  color: grey;
  font-size: 0.7rem;
}

.flame-footer {
  height: 40px;
  width: 130px;
}

.recent-posts h6 {
  font-size: 0.8rem;
  color: white;
}
.recent-posts p {
  color: grey;
  font-size: 0.7rem;
  margin-top: -5px;
}

.h4-line {
  font-size: 1rem;
  color: white;
  position: relative;
}

.h4-line::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 40px;
  border-bottom: 1px solid white;
  bottom: -5px;
}

.designers-div {
  position: relative;
}
.designers-div img {
  width: 50px;
  height: 50px;
}
.designers-div .designer {
  display: flex;
  margin-top: 20px;
}
.designers-div p {
  line-height: 1.7;
}
.designers-div .name-para {
  padding-left: 20px;
}

.designers-div::before {
  content: " ";
  position: absolute;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid grey;
  bottom: 50%;
}

.tags-div {
  display: flex;
  flex-wrap: wrap;
}
.tags-div span {
  color: grey;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  font-size: 0.7rem;
}

.flickr-images-div img {
  height: 70px;
  width: 70px;
  margin: 5px;
}

.container-fluid {
  padding: 0;
}

p {
  font-size: small;
}

body {
  overflow-x: hidden;
  user-select: none;
  box-sizing: border-box;
}

footer {
  background-color: #333132;
  color: white;
  font-size: 0.7rem;
  padding: 20px;
}

.scrollbar {
  text-align: center;
  position: fixed;
  bottom: 45%;
  right: 10%;
}
.scrollbar i {
  color: white;
  background-color: #f55650;
  font-size: 2rem;
  padding-top: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=main.css.map */
