.about-container {
  margin-top: 100px;
  .image-col {
    text-align: center;
    .front-img {
      object-fit: cover;
      object-position: top;
    }
  }
  .para-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
      position: relative;
    }
  }
}

.references {
  text-align: center;
  margin-bottom: 200px !important;

  .Qualification {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      p {
        margin-bottom: 0.2rem;
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;

      a {
        color: white !important;
        text-decoration: none;
        &:hover {
          color: yellow !important;
        }
      }
    }
  }
  .skills {
    div {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 0.2rem;
      }
    }
  }
}

// .para-col {
//   img {
//     border-radius: 50%;
//   }
// }

.profile-pic {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  transform: translate(0, -110%);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}

.image-col {
  .pic-container {
    height: 95%;
    width: 75%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    transition: transform 500ms ease;
    img {
      height: 100%;
      width: 100%;
      border: 5px solid #16161d;
      border-radius: 10px;
    }
  }
  .pic-container:hover {
    transform: rotate(-5deg);
  }
}

.skill-card {
  background-color: #16161d;
  border-radius: 10px;
  height: 350px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
