.about-container {
  margin-top: 100px;
  .image-col {
    text-align: center;
    .front-img {
      object-fit: cover;
      object-position: top;
    }
  }
  .para-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
      position: relative;
    }
  }
}

.references {
  text-align: center;
  margin-bottom: 200px !important;

  .Qualification {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      p {
        margin-bottom: 0.2rem;
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .skills {
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin-bottom: 0.2rem;
      }
    }
  }
}

// .para-col {
//   img {
//     border-radius: 50%;
//   }
// }

.profile-pic {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  transform: translate(0, -110%);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}

.image-col {
  .pic-container {
    height: 95%;
    width: 75%;
    margin: auto;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background-color: black;
    transition: transform 500ms ease;
    img {
      height: 100%;
      width: 100%;
      border: 5px solid#f0fff0;
    }
  }
  .pic-container:hover {
    transform: rotate(-5deg);
  }
}
