.contact-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.contact-container {
  margin-top: 100px;
  .col-12 {
    .contact-div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
      padding: 30px 0 30px 0;
      h1 {
        color: black;
        font-weight: 900;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input,
        textarea {
          width: 50%;
          outline: none;
          border: none;
          padding: 15px;
          margin-top: 20px;
          background-color: black;
          color: white;
        }
        textarea {
          height: 200px;
          resize: none;
        }
        button {
          width: 90px;
          text-align: center;
          background-color: black;
          border: none;
          margin-top: 20px;
        }
      }
    }
  }
}
