* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "poppins", sans-serif;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button,
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
  outline: none;
}

form button:hover {
  color: white;
  background: #d88771;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
  transition: all 0.5 ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background-color: green;
}
.todo-item {
  padding: 0.5rem;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translate(8rem) rotatez(20deg);
  opacity: 0;
  transition: all 0.5s ease;
}

#filter {
  padding: 10px;
  border: none;
  font-size: small;
  outline: none;
  margin-left: 10px;
}
