/* .hover-class {
  color: white;
  padding: 1rem;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
}

.hover-class::after {
  content: "Best Link! Ever";
  background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.3rem;
  text-align: center;
  width: 150px;
  transition: 0.5s all ease-in;
  z-index: -1;
}

.hover-class:hover::after {
  /* content: "Best Link! Ever";
  background-color: red;
  position: absolute;
  top: 0;
  left: 50%; */
  /* transform: translate(-50%, -100%); */
  /* font-size: 1.3rem;
  text-align: center;
  width: 150px;
  transition: 2.5s all ease-in; */
}

/* .box {
  height: 90px;
  width: 90px;
  background-color: black;
  color: white;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}  */


