.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    .burger {
      z-index: 3;
      border: none;
      outline: none;
      background-color: $primary-color;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .line {
        background-color: white;
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
      }
      .line2 {
        width: 15px;
      }
    }
  }
}

.navlist {
  position: fixed;
  right: 0;
  top: 0;

  width: 0vw;
  height: 100vh;
  z-index: 2;
  background-color: $primary-color;

  .nav-items {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    a {
      padding-top: 20px;
      color: white;
      font-size: 2rem;
      text-decoration: none;
      &:hover {
        color: yellow;
      }
    }
  }
}

.navbrand {
  font-size: 2.5rem;
  z-index: 3;
}

@media only screen and (max-width: 770px) {
  .burger {
    background-color: $primary-color !important;
  }
}

@media only screen and (max-width: 550px) {
  .nav-items {
    a {
      font-size: 1.7rem !important;
    }
  }
  .navbrand {
    font-size: 1.8rem !important;
  }
}
