body {
  font-family: "Work Sans";
  font-weight: 350;
}

.web-name {
  font-size: 1.8rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom {
  background-color: #dedede;
  border-bottom: 1px solid #e2e3e2;
}

a {
  color: black;
}

.meet-me-link {
  border-bottom: 2px solid #dedede;
}

a:hover {
  color: #5ccecd;
  border-bottom: 2px solid #5ccecd;
}

.front-heading-div {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 768px) {
  .name-intro h1 {
    font-size: 1.5rem;
  }
  .name-intro h3 {
    font-size: 1rem;
  }
  .name-intro a {
    font-size: 0.6rem;
  }
}

.about-with-line {
  position: relative;
}
.about-with-line div {
  position: absolute;
}

.line-one,
.line-two {
  height: 50px;
  width: 50px;
  border-bottom: 1px solid #bfbfc1;
  top: -5px;
}

.line-one {
  left: 15px;
}

.line-two {
  left: 95px;
}

.sm-square-one,
.sm-square-two {
  height: 5px;
  width: 5px;
  background-color: cornflowerblue;
  top: 42px;
}

.line-container {
  width: 100%;
  text-align: center;
  margin-top: -15px;
}

.left-line,
.right-line {
  width: 50px;
  height: 1px;
  background-color: black;
  position: relative;
}

.left-line::after,
.right-line::before {
  content: " ";
  background-color: red;
  width: 5px;
  height: 5px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(0, -50%);
}

.right-line::before {
  left: -10px;
}

.right-line {
  margin-left: 20px;
}

.sm-square-one {
  left: 72px;
}

.sm-square-two {
  left: 82px;
}

.about-me-div {
  margin-top: 100px;
}

.big-para {
  font-size: 1.7em;
}

.not-bold {
  font-weight: 200;
}

.grey-color {
  color: #b1b1b1;
}

.logo-size {
  font-size: 50px;
}

.light-bold {
  font-weight: 400;
}

.row-spacing {
  margin-top: 50px;
}

.title {
  position: relative;
  display: inline-block;
}

.logo-line {
  height: 15px;
  width: 80px;
  border-bottom: 2px solid black;
  position: absolute;

  left: 25px;
}

.graphic-design .logo-line,
.programming .logo-line {
  left: 45px;
}

.btn {
  height: 50px;
  width: 300px;
  font-size: 1.1em;
  border: 1px solid black;
}

.btn:hover {
  color: skyblue;
  border-color: skyblue;
}

.bottom-spacing {
  margin-bottom: 100px;
}

.project-div .line-one {
  left: 50px;
}
.project-div .line-two {
  left: 130px;
}
.project-div .sm-square-one {
  left: 118px;
}

.project-div .sm-square-two {
  left: 107px;
}

.bg-grey {
  background-color: #eaebed;
}

.image-div {
  /* position: relative; */
}

.project-title {
  /* position: absolute; */
  left: 105%;
  top: 70%;
  min-width: 280px;
}

.project-line-design {
  position: absolute;
  top: -65%;
  right: 144%;
}

.project-line-design div {
  position: absolute;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 1cm;
  background-color: white;
  border: 4px solid skyblue;
}

.big-line {
  height: 20px;
  width: 140px;
  border: 1px solid grey;
  border-left: none;
  border-bottom: none;
  top: 7px;
  left: 14px;
}

.bottom-line {
  height: 5px;
  width: 57px;
  background-color: #4f5b67;
  top: 25px;
  left: 125px;
}

.image-design {
  margin-top: 300px;
  margin-left: 150px;

  position: relative;
}

.design-text {
  position: absolute;
  bottom: 20%;
  right: -160px;
}

.design-line-container {
  position: relative;
  background-color: brown;
  width: 100%;
}

.design-line {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: brown;
  top: -10px;
}

.design-line::after {
  content: " ";
  width: 150px;
  height: 30px;
  border: 1px solid grey;
  position: absolute;
  bottom: 5px;
  right: 50%;
  border-bottom: none;
  border-left: none;
}

.design-line::before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: white;
  border: 3px solid skyblue;
  border-radius: 10cm;
  position: absolute;
  top: -35px;
  left: -135px;
}

.image-design-right {
  margin-right: 50px;
  margin-top: 80px;
  
}

.design-text-right {
  position: absolute;
  top: 20%;

  left: -50px;
}

.design-line-container-right {
  position: relative;
  background-color: brown;
  width: 100%;
  right: 0;
  margin-bottom: 10px;
}

.design-line-right {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: brown;s
  top: -10px;
  right: 0;
}

.design-line-right::after {
  content: " ";
  width: 150px;
  height: 30px;
  border: 1px solid grey;
  position: absolute;
  bottom: 5px;
  left: 50%;
  border-bottom: none;
  border-right: none;
}

.design-line-right::before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: white;
  border: 3px solid skyblue;
  border-radius: 10cm;
  position: absolute;
  top: -35px;
  right: -135px;
}

.image-div-right {
  margin-top: 90px;
  margin-right: 50px;
}

/* right project display */
.image-div-right {
  position: relative;
}

.project-title-right {
  position: absolute;
  right: 105%;
  bottom: 65%;
  min-width: 280px;
}

.project-line-design-right {
  position: absolute;
  bottom: 165%;
  left: 144%;
}

.project-line-design-right div {
  position: absolute;
}

.circle-right {
  height: 15px;
  width: 15px;
  border-radius: 1cm;
  background-color: white;
  border: 4px solid skyblue;
}

.big-line-right {
  height: 20px;
  width: 140px;
  border: 1px solid grey;
  border-bottom: none;
  border-right: none;
  bottom: -26px;
  right: 0px;
}

.bottom-line-right {
  height: 5px;
  width: 57px;
  background-color: #4f5b67;
  top: 25px;
  right: 112px;
}

.margin-reduce {
  margin-top: 220px;
}

.margin-fixed {
  margin: initial;
}

.skill-name-about {
  max-width: 670px;
}

.animation {
  vertical-align: 170%;
}

.my-skills-section {
  background-color: #ffffff;
}

.read-more-link {
  font-size: large;
}

.my-blog-row {
  margin-top: 70px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: skyblue;
  width: 40px;
  height: 40px;
  border-radius: 10cm;
  top: 410px;
  left: 15px;
}

.carousel-control-next {
  left: 100px;
}

.client-name {
  position: relative;
}

.upper-line {
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: -15px;
}

.loader {
  border: 10px solid white; /* Light grey */
  border-top: 10px solid #cccccc;
  border-left: 10px solid #cccccc;
  border-bottom: 10px solid #cccccc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  position: relative;
}

.percent {
  position: absolute;
  top: 40%;
  left: 30%;
}

.skill-name-about {
  vertical-align: 80px;
}
.skill-right .percent {
  right: 20%;
}

.contact-icon-size {
  font-size: xx-large;
  margin-left: 20px;
}

.contact {
  background-color: #f1f1f1;
}

.contact-links {
  position: relative;
}

.footer-line {
  right: 150px;
  bottom: 10px;
}
