/* html {
  position: relative;
  height: 100vh;
}
.container {
  margin-top: 100px;
}
.line {
  height: 200px;
  justify-content: center;
  display: flex;
}
.line div {
  height: 100%;
  width: 200px;
  border: 5px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.left {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.middle {
  border-top: none !important;
}

.right {
  border-right: none !important;
  border-top: none !important;
  border-left: none !important;
}

.line-3 div {
  border-bottom: none !important;
}

.line button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: 10rem;
  font-weight: 900;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line button:hover {
  background-color: cornflowerblue;
}

@media only screen and (max-width: 700px) {
  .line {
    height: 100px;
  }
  .line div {
    width: 100px;
  }
}
.wintext-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.wintext-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  background-color: coral;
  border: none;
}

#undobutton {
  position: absolute;
  left: 10%;
  top: 20%;
  border: none;
  background-color: black;
  color: White;
  display: none;
} */

body {
  background-color: #0e2a3a;
}

.rectangle {
  width: 103px;
  height: 103px;
  object-fit: contain;
  border-radius: 12.5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.circle {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
}

.icons-container {
  padding: 30px 0 30px 0;
}

.home-container {
  margin-top: 100px;
}

.title-tag {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
}

.btn-primary {
  width: 270px;
  height: 50px;
  background-color: transparent;
  border-radius: 40px;
  border: solid 1px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

a {
  color: white !important;
}

.line {
  display: flex;
}

.line div {
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  border-radius: 15px;
}

.shape-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff847c !important;
}
.shape-container-2 {
  background-color: #8fcfd1 !important;
  position: relative;
}

.shape-container img {
  animation-name: shape1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.shape-container-2 img {
  position: absolute;
  animation-name: shape2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shape1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shape2 {
  0% {
    bottom: 25%;
  }

  50% {
    bottom: 0;
  }
  100% {
    bottom: 25%;
  }
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-tag {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
}

.loading-container img {
  animation: loadinganimation 1s;
}
.loading-container img:nth-child(2) {
  animation: loadinganimation 1s;
  animation-delay: 500ms;
}
.loading-container img:nth-child(3) {
  animation: loadinganimation 1s;
  animation-delay: 1s;
}
.loading-container img:nth-child(4) {
  animation: loadinganimation 1s;
  animation-delay: 1500ms;
}

@keyframes loadinganimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.game-container {
  margin-top: 100px;
}

.game-tag {
  color: rgba(255, 255, 255, 0.2);
}

.game-turn {
  margin-top: 100px;
}

.game-turn div {
  display: inline-block;
}

.game-turn img {
  height: 50px;
  width: 50px;
}

.game-turn div:nth-child(2) {
  display: inline-block;
  margin-left: 20px;
  background-color: #ff847c;
  border-radius: 6px;
  padding: 20px;
}

.game-turn-2 div:nth-child(2) {
  background-color: #8fcfd1;
}

.game-line {
  display: flex;
}

.btn-game {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  border-radius: 15px;
  border: none;
  outline: none !important;
  color: red;
}

.shape-container-x,
.shape-container-o {
  background-color: #ff847c;
  position: absolute;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.shape-container-o {
  background-color: #8fcfd1;
}

/* .shape-container-x img {
  height: 100px;
  width: 100px;
} */

.draw-window {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.draw-window h1 {
  font-weight: 900;
}

#undo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
}

.btn-restart {
  display: block;

  margin-top: -5px;
}
