.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-container .burger {
  z-index: 3;
  border: none;
  outline: none;
  background-color: #4830e6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-container .burger .line {
  background-color: white;
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
}
.navbar .navbar-container .burger .line2 {
  width: 15px;
}

.navlist {
  position: fixed;
  right: 0;
  top: 0;
  width: 0vw;
  height: 100vh;
  z-index: 2;
  background-color: #4830e6;
}
.navlist .nav-items {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.navlist .nav-items a {
  padding-top: 20px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.navlist .nav-items a:hover {
  color: yellow;
}

.navbrand {
  font-size: 2.5rem;
  z-index: 3;
}

@media only screen and (max-width: 770px) {
  .burger {
    background-color: #4830e6 !important;
  }
}
@media only screen and (max-width: 550px) {
  .nav-items a {
    font-size: 1.7rem !important;
  }

  .navbrand {
    font-size: 1.8rem !important;
  }
}
.home-section {
  position: relative;
  padding-top: 150px;
  margin-bottom: 50px;
  min-height: 100vh;
}
.home-section .blue-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  background-color: #4830e6;
}
.home-section .cover-container .title-wrap {
  position: relative;
}
.home-section .cover-container .title-wrap .img-small {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  bottom: 100%;
  left: 0;
}
.home-section .cover-container h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.home-section .cover-container .cover-title-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-section .cover-container .img-cover-container {
  height: 600px;
  width: 450px;
  display: inline-block;
}
.home-section .cover-container .img-cover-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.h1-shadow {
  position: relative;
}
.h1-shadow:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  opacity: 0.8;
  background-color: #ecebfd;
}

.arrow-container {
  margin-top: 50px;
  text-align: center;
}
.arrow-container i {
  font-size: 1.5rem;
}

.img-cover-container {
  position: relative;
  overflow: hidden;
}

.slide-box {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecebfd;
}

.scroll-link {
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .home-section h1 {
    font-size: 2.8rem !important;
  }
  .home-section .img-cover-container {
    height: 500px !important;
    width: 350px !important;
  }
}
@media only screen and (max-width: 767px) {
  .home-section {
    padding-top: 250px;
  }
}
.project-section {
  margin-bottom: 150px;
}
.project-section .project-header {
  font-size: 3.5rem;
}

.view-all-link {
  margin: auto;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  color: #4830e6;
  border: 2px solid #4830e6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  font-size: 1.2rem;
  overflow: hidden;
  position: relative;
}
.view-all-link:hover {
  color: white !important;
}
.view-all-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(-100%, 0);
  background-color: #4830e6;
  transition: all 300ms ease-in-out;
}
.view-all-link:hover::after {
  transform: translate(0%, 0);
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  overflow: hidden;
}
.section-title-wrapper .section-title-line {
  height: 2px;
  width: 50px;
  background-color: #4830e6;
  transform: translate(-100%, 0);
}
.section-title-wrapper .project-header {
  margin-left: 30px;
  font-size: 3.5rem;
}

.skills-section {
  margin-bottom: 150px;
}
.skills-section .skills-row .skill-col {
  margin-bottom: 30px;
}
.skills-section .skills-row .skill-col .skill {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border: 2px solid #4830e6;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
.skills-section .skills-row .skill-col .skill-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-100%, 0);
  background-color: #4830e6;
  z-index: -1;
}

footer {
  background-color: #4830e6;
}
footer .container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .container h2 {
  font-size: 2.4rem;
}
footer .container .links {
  margin-top: 10px;
}
footer .container .links a {
  color: white;
}
footer .container .links a i {
  font-size: 2em;
  padding: 10px;
}
footer .container .links a:hover {
  color: yellow;
}
footer .container span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer .container span i {
  margin-right: 3px;
}

.project {
  margin-bottom: 50px;
}

.project-wrapper {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.project-wrapper::after {
  position: absolute;
  content: "View Project";
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(-100%, 0);
  transition: all 300ms ease-in-out;
  background-color: #4830e6;
}
.project-wrapper:hover::after {
  transform: translate(0, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #4830e6;
}

.project-link {
  background-color: red;
  z-index: 2;
}

.project-section-all {
  margin-top: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: #4830e6;
}

/*# sourceMappingURL=app.css.map */
